* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura total da janela de visualização */
  font-family: Arial, sans-serif;
  /* Fonte padrão */
  text-align: center;
  color: #333;
  background: #ccc;
}

.paginas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.irrf {
  text-align: center; /* Centraliza o conteúdo da seção */
  margin: 20px 0; /* Espaçamento superior e inferior */
}

.irrf a {
  display: inline-block; /* Permite adicionar padding ao link */
  padding: 12px 24px; /* Espaçamento interno do botão */
  background-color: #2992cf; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  font-size: 1rem; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Efeito de transição ao passar o mouse */
}

.irrf a:hover {
  background-color: #3dadcf; /* Cor de fundo ao passar o mouse */
}


.user {
  display: inline-flex;
}

.user span {
  font-style: italic;
}

.user div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre fieldset {
  padding: 20px;
  /* Espaçamento interno para melhor visualização */
  border-radius: 8px;
  /* Bordas arredondadas */
  position: relative;
  /* Para manipular a posição do legend */
}

.sobre fieldset legend {
  padding: 0 10px;
  /* Espaçamento interno do texto da legenda */
  font-weight: bold;
  /* Deixar o texto da legenda em negrito */
}

header {
  background-image: url("./img/bg.jpeg");
  background-size: cover;
  text-align: center;
  color: #fff;
}

header img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 5%;
}

header h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  mix-blend-mode: overlay;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.projetos {
  display: flex;
  overflow-x: auto;
  margin-bottom: 50px;
}

.projeto {
  padding: 5px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  height: max-content;
  flex-wrap: wrap;
  border: solid 1px #696969;
  border-radius: 4px;
  margin: 10px;
}

.projetos img {
  width: 100%;
  /* max-height: 150px;  */
  border-radius: 5%;
  object-fit: contain;
  aspect-ratio: 3/2;
  /* mix-blend-mode: color-burn; */
}

header p {
  font-size: 1.2rem;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.destaque video {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projeto a {
  display: flex;
  text-decoration: none;
  margin-top: 10px;
  width: 150px;
  height: 39px;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}

.app {
  width: 224px;
  height: 150px;
}

#curriculo a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}

#curriculo a:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  width: 100%;
  bottom: 0;
}

.social-link {
  display: flex;
  align-items: center;
  color: #0077b5;
  text-decoration: none;
  font-size: 1.2em;
  /* Ajuste o tamanho da fonte conforme necessário */
}

.social-link .fa-linkedin {
  color: #0077b5;
}

.social-link i {
  margin-right: 8px;
  /* Espaçamento entre ícone e texto */
}

.social-link {
  color: #000;
}

/* Estilo para o link do GitHub */
.social-link .fa-github {
  color: #333;
}

.social-link .fa-github i {
  color: #333;
  /* Cor do ícone do GitHub */
}

.contato {
  display: inline-flex;
  justify-content: space-between;
  width: 250px;
  margin: 20px;
}

.vd {
  display: flex;
  justify-content: space-between;
}

summary {
  position: relative;
}

summary::marker {
  content: none;
}

summary::before,
summary::after {
  content: "";
  width: 0.75em;
  height: fit-content;
  border-bottom: 2px solid;
  position: absolute;
  top: calc(50% - 1px);
  left: 15px;
  transform: translateY(-50%);
  transition: 200ms;
}

summary::after {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

[open] summary::after {
  transform: rotate(0deg);
}

details {
  /* color: #333; */
  /* border: 1px solid; */
  background: #ddddda;
  border-radius: 5px;
  transition: 50ms;
}

details+details {
  border-top: none;
}

details[open] {
  padding-bottom: 1em;
}

details a {
  margin: 30px;
  color: #fff;
  font-style: italic;
  text-decoration: none;
  padding: 10px;
  background: #3611db;
  border-radius: 5px;
  margin-bottom: 15px;
}

summary {
  padding: 1rem 2em 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.preview-container {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  /* Ajuste a altura conforme necessário */
  overflow: hidden;
  /* Ocultar qualquer conteúdo que ultrapasse o tamanho do container */
}

p {
  font-family: 'Courier New', Courier, monospace;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

b {
  text-align: center;
}

.ul {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #ebe9e9;
  padding: 0.5rem;
  text-align: left;
}

.ul ul {
  margin-left: 30px;
}

.ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.ul li:last-child {
  border-bottom: none;
}

img.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  /* Fundo escuro com transparência */
}

/* Estilizando a div info */
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}

/* Estilizando os links */
.info a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

/* Estilizando a área do ícone de TV */
.tv-link {
  border-radius: 5px;
  padding: 15px;
  font-size: 34px; /* Tamanho do ícone */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tv-link:hover {
  background-color: #494848; /* Cor ao passar o mouse */
}

.tv-link i {
  pointer-events: none; /* Evitar que o ícone receba eventos de clique */
}

.notification {
  background-color: #ffcc00;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  animation: fadeIn 2s;
}
.notification i {
  color: #d9534f;
  margin: 0 10px;
  font-size: 24px;
}
marquee {
  font-weight: bold;
  color: #333;
  padding: 0 10px;
}

.Python a{
  width: 100%;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  iframe {
    width: 100%;
  }

  .paginas{
    display: block;
  }

  .irrf a{
    width: 100%;
  }

  .vd {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
  }

  .py {
    flex-direction: column;
  }

  section.projetos {
    margin: 5px;
  }
  
  .Python{
    /* border: solid 2px #000; */
    width: 90vw;

  }
  
  main {
    padding: 0;
    width: 100%;
  }

  .projeto .app {
    width: 100%;
  }

  img.fullscreen {
    object-fit: contain;
    /* Mantém a proporção da imagem */
  }
}