/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

.certificate {
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.certificate img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.certificate iframe {
    width: 100%; /* Largura 100% da largura da viewport */
    height: 100vh; /* Altura 100% da altura da viewport */
    border: none; /* Remove a borda padrão do iframe */
}